.card {
    width: 24em;
    justify-self: center;
    height: 100%;
    display: flex;
    justify-content: space-around;
<<<<<<< HEAD
=======

>>>>>>> 29ca706a4c66906fe71c6ce26baf23fc07ba6260
}

.card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;

    /* background: url(../../Images/sti.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    */
}

