.build-filters-form {
    display: flex;
    align-items: center;
}

.Build-Card-Filters {
    text-align: center;
    margin: 40px auto;

}

.build-filter {
    cursor: pointer;
    width: 200px;
}


.build-filter:disabled {
    cursor: auto;
}

.aligned-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}

.aligned-row label {
    margin-right: 10px;
}