.BuildsContainer {
    width: 100vw;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 30px;
}


.ImageTest {
    width: 500px;
    height: 700px;
    border: 1px solid black;
}

.ImageTest img {
    width: 100%;
}